body {
  padding: 20px;
  font-family: 'Hind', sans-serif;
  background-color: rgb(245,245,245);
}

h1, h2, h3 {
  text-align: center;
  padding: 0;
}

h2 {
  font-size: 1.7em;
}

input {
  border-radius: 3px;
  margin-top: 4px;
}


a:hover {
  font-weight: bold;
}

.add-topic {
  text-align: center;
}

.topics-container {
  max-width: 1024px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 6px 6px 3px #666;
  padding: 10px 20px 10px 20px;
  margin: 20px 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1;
  min-width: 150px;
  max-width: 400px;
}

.comment-container {
  border: 1px solid gray;
  margin: 2% 28%;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 6px 6px 3px #666;
  text-align: center;
}

#add-comment-form {
  text-align: center;
  padding: 0 28% 0 28%;
}

#add-topic-form {
  text-align: center;
  padding: 0 25% 0 25%;
}

#edit-topic-form {
  text-align: center;
  padding: 0 25% 0 25%;
}

/* centers inputs */
::-webkit-input-placeholder {
   text-align: center;
}


@media(max-width: 700px) {
  .container {
    display: block;
  }

}
