<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Topic</title>
    <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
  </head>
  <body>
    <main>
      <div id="add-topic-form">
        <h1>Add Topic</h1>
        <form method="POST" action="/topics/new"><br>
          <div class="input-field">
            <input name="topics[title]" placeholder="subject" type="text"/><br>
          </div>
          <textarea name="topics[content]" placeholder="content" type="text"/></textarea><br>
          <div class="input-field">
            <input name="topics[username]" placeholder="username" type="text"/><br>
          </div>
         <button type="submit">Add Topic</button>
        </form>

      </div>
    </main>
  </body>
</html>
